---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/navigation';
import {getPermalink} from '../utils/permalinks'
import LogoWhite from '~/assets/images/iso-white.png';

const metadata = {
  title: 'Binary Craft',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Binary Craft"
    actions={[
      { variant: 'primary', text: 'Request a free consultation', href: getPermalink('/#contact') },
    ]}
    image={{
      src: LogoWhite,
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Crafting <br /> the future <br /> line by line<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Transform your online presence with <span class="font-semibold">BinaryCraft</span>'s web development solutions.</span
      >
      Leverage the synergy of modern frameworks and design principles to build websites that not only look stunning but also deliver exceptional user experiences.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="about"
    title="How do we do it?"
    subtitle="Consistency and transparency are key to our delivery process, which is why we follow the same framework regardless of the project."
    columns={2}
    items={[
      {
        title: 'Pre-Discovery',
        description:
          'Set the foundation for success with our Pre-Discovery phase. We collaborate with you to understand your business goals, challenges, and vision. By gathering initial insights and aligning on objectives, we ensure a strategic approach that meets your unique needs from the very start.',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Discovery',
        description: `Uncover the full potential of your project in our Discovery phase. Through in-depth research, stakeholder interviews, and comprehensive analysis, we define the project scope, identify key requirements, and create a roadmap that guides the development process. This phase is where your ideas take shape.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Development and Implementation',
        description:
          'Bring your vision to life during the Development and Implementation phase. Our expert team of developers and designers work closely together to build robust, scalable software solutions. We focus on quality, efficiency, and innovation, ensuring that the final product not only meets but exceeds your expectations.',
        icon: 'tabler:writing',
      },
      {
        title: 'Testing and User Acceptance',
        description: `Ensure flawless performance with our Testing and User Acceptance phase. We rigorously test your software to identify and resolve any issues, ensuring a seamless user experience. Through user acceptance testing, we involve real users to validate the solution, guaranteeing it’s ready for launch and fully aligned with your business goals.`,
        icon: 'tabler:podium',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
  id="services"
    title="Services"
    subtitle="Ready to bring your product vision to life?"
    isReversed
    items={[
      {
        title: 'Description:',
        description: 'Lay a solid foundation for your software with our Architecture services. We design robust, scalable, and future-proof software architectures that align with your business goals and technical requirements. Our architectural approach ensures that your solution is built on a framework that supports growth, flexibility, and long-term sustainability'
      },
      {
        title: 'Benefits:',
        description: 'Benefit from a well-structured, high-performance system that can scale with your business. Our architecture services minimize risks, reduce future technical debt, and ensure that your software can evolve with changing needs, giving you a competitive edge.'
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Architecture
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Transform ideas into reality with our Development services. Our experienced team of developers brings your vision to life by crafting high-quality, efficient, and maintainable code. We adhere to best practices and leverage the latest technologies to deliver solutions that are not only functional but also optimized for performance.`,
      },
      {
        title: 'Benefits:',
        description: `Experience faster time-to-market and enhanced user satisfaction with our expertly developed software solutions. By focusing on quality and efficiency, we help you achieve your business objectives while ensuring that your software is easy to maintain and scale.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1531973486364-5fa64260d75b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1658&q=80',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Development
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Seamlessly connect your systems and enhance functionality with our Integration services. We specialize in integrating various software applications, databases, and third-party tools, creating a cohesive ecosystem that maximizes efficiency and streamlines your operations.`
      },
      {
        title: 'Benefits:',
        description: `Maximize your existing investments and improve operational efficiency with our seamless integrations. By ensuring that all your systems work harmoniously together, we help you reduce redundancy, save time, and enhance overall productivity.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Integrations
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: 'Description:',
        description: `Unlock new possibilities with our API services. We design, develop, and manage APIs that enable your software to communicate effectively with other systems, both internally and externally. Our APIs are built to be secure, reliable, and easy to use, providing a gateway for expanding your software's capabilities.`,
      },
      {
        title: 'Benefits:',
        description: `Expand your software's functionality and reach with well-designed APIs. By enabling seamless data exchange and integration with other platforms, our API services empower your business to innovate faster and provide better services to your users.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        APIs
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    id="contact"
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: 'mailto:contact@binarycraft.dev',
    }}
    items={[
      {
        title: 'Email us',
        description: 'contact@binarycraft.dev',
        icon: 'tabler:mail',
      },
      {
        title: 'Follow us',
        description: '@binarycraft',
        icon: 'tabler:brand-instagram',
      },
    ]}
  />
</Layout>
